.login {
  background-color: #4C6EF8;
  min-width: 100%;
  max-width: 100%;
}

div.Login_container {
  width: 300px;
  height: 467px;
  margin: auto;
  margin-top: 80px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.Login_form-login {
  width: 100%;
}

.Login_inputBox {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
}

img.Login_inputIcon {
  width: 25px;
  height: 25px;
}

input.Login_loginInput {
  background-color: transparent;
  width: 100%;
  height: auto;
  border: none;
  color: white;
  margin-left: 20px;
  font-size: 14px;
}
input.Login_loginInput::placeholder {
  color: white;
}

input.Login_loginInput:focus {
  outline: none;
}

img.Login_decorateIcon {
  width: 148px;
  height: 115px;
  margin-bottom: 40px;
}

button.Login_loginButton {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 5px #2953fc;
  color: #4C6EF8;
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
}

button.Login_loginButton:hover {
  background-color: #01AC66;
  color: white;
}

.Login_forgotLink {
  color: white;
  text-decoration: none;
}

.Login_forgotLink:hover {
    font-weight: bold;
}

.Login_alignRight {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.Login_alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Make sure it appears on top of other elements */
}

.Login_alert {
  position: relative;
  width: 400px;
  height: auto;
  z-index: 1000; /* Ensure the alert is above the overlay */
}
