.UserDetail_container::before {
  display: block;
  content: "";
  height: 71px;
}

.UserDetail_container {
  width: 80%;
  margin: auto;
}

.UserDetail_container-bar {
  height: 80px;
  border-radius: 20px 20px 0px 0px;
  background: #4c6ef8;
}

.UserDetail_container-content {
  min-height: 60vh;
  border-radius: 0px 0px 20px 20px;
  background: #fff;
  position: relative;
  padding: 40px 20px 20px;
}

.UserDetail_change-password {
  padding-top: 70px;
}

.UserDetail_avatar {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 40px;
  top: -50px;
  z-index: 2;
}

.UserDetail_avatar-image {
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}

.UserDetail_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.UserDetail_change-password-button {
  background-color: #4c6ef8;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
}

.UserDetail_save-button {
  margin-right: 10px;
  border-radius: 10px;
  background-color: #01ac66;
  border: none;
  width: 80px;
}

.UserDetail_cancel-button {
  margin-right: 5px;
  border-radius: 10px;
  background: #e74a3b;
  border: none;
  width: 80px;
}

.UserDetail_cancel-button:hover {
  background-color: #af392e;
}

.UserDetail_button {
  border: none;
  width: 100px;
  margin-right: 10px;
}

.UserDetail_button-changeRole {
  border: none;
  width: 150px;
  background-color: #e74a3b;
}

.UserDetail_button-active {
  background-color: #01ac66;
}

.UserDetail_button-inactive {
  background-color: #e74a3b;
}

.UserDetail_button-content {
  padding: 0px 4px;
  font-size: 16px;
}

.UserDetail_icon {
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
