.InvoiceDetail_container {
  border-radius: 10px;
  border: 1px solid #dcdbdb;
  /* background: #7575ff; */
  background: #dcdbdb;
  /* height: 80px; */
  height: fit-content;
  width: 90%;
  margin: auto;
  color: black;
  padding: 10px 0px;
}

.InvoiceDetail-img-container {
  height: 80px;
  padding: 0px 10px;
}

.InvoiceDetail-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.InvoiceDetail_content {
  width: 100%;
  height: 100%;
}
