

body {
  font-size: 16;
  /* font-family: "RobotoThin", sans-serif; */
  background: #01ac66;
}

div.container {
  width: 350px;
  height: 467px;
  margin: auto;
  margin-top: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.form-login {
  width: 100%;
  height: 100%;
}

.inputBox {
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  height: 53px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

img.inputIcon {
    width: 25px;
    height: 25px;
}

input.loginInput{
    background-color: transparent;
    width: auto;
    border: none;
    color: white;
    font-family: inherit;
    margin-left: 20px;
} 
input::placeholder{
    color: White;
}

input.loginInput:focus{
    outline: none;
}

img.decorateIcon {
    width: 148px;
    height: 115px;
    margin-bottom: 60px;
}

button.loginButton {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #039659d5;
    color: #01AC66;
    width: 100%;
    height: 53px;
    font-size: 18px;
    /* font-family: "RobotoMedium", sans-serif; */
    margin-top: 40px;
}

a.forgotLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.alignRight {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}
