.Selection_container {
    min-width: 250px;
    height: 40px;
  }
  
  .Selection_label {
    margin-right: 10px;
  }
  
  .Selection_select {
    height: 100%;
    width: 150px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    border: 1px solid #838383;
    background-color: #EFEFEF;
  }
  
  .Selection_select select {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #EFEFEF;
    padding: 0 5px 0 5px;
    cursor: pointer;
  }
  