@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  /* background-color: #DCDBDB; */
  background-color: #efefef;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
