.Good_container::before {
  display: block;
  content: "";
  height: 71px;
}

.Good_container {
  width: 80%;
  margin: auto;
}

.Good_container-content {
  background-color: white;
  border-radius: 15px;
  min-height: 100vh;
  border: 1px solid #c6c6c6;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
}
