.GoodItem_container {
  border-radius: 10px;
  border: 1px solid #dcdbdb;
  /* background: #7575ff; */
  background: #dcdbdb;
  height: 70px;
  width: 90%;
  margin: auto;
  color: white;
}

.GoodItem_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.GoodItem_button-edit {
  background-color: #01ac66;
}

.GoodItem_button-edit:active,
.GoodItem_button-edit:hover {
  background-color: #007041;
}

.GoodItem_button-delete {
  background-color: #e74a3b;
}

.GoodItem_button-delete:hover,
.GoodItem_button-delete:active {
  background-color: #9c2e24;
}

.GoodItem_container-category {
  height: 35px;
  width: 120px;
  background-color: #e4ab00;
  padding: 0px 10px;
  border-radius: 10px;
  color: white;
}
