.UserItem_container {
  border-radius: 10px;
  border: 1px solid #dcdbdb;
  /* background: #7575ff; */
  background: #dcdbdb;
  height: 70px;
  width: 90%;
  margin: auto;
  color: white;
}

.UserItem_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.UserItem_button-edit {
  background-color: #01ac66;
}

.UserItem_button-edit:hover, .UserItem_button-edit:active {
  background-color: #007041;
}


.UserItem_button-delete {
  background-color: #e74a3b;
}

.UserItem_container-role {
  height: 35px;
  width: 120px;
  background-color: #e4ab00;
  padding: 0px 10px;
  border-radius: 10px;
}

.UserItem_container-status_active {
  height: 35px;
  width: 90px;
  background-color: #01ac66;
  padding: 0px 15px;
  border-radius: 8px;
}

.UserItem_container-status_inactive {
  height: 35px;
  width: 90px;
  background-color: #e74a3b;
  padding: 0px 15px;
  border-radius: 8px;
}

.UserItem_container-gender_female {
  height: 35px;
  width: 80px;
  background-color: #ff469d;
  padding: 0px 15px;
  border-radius: 10px;
}

.UserItem_container-gender_male {
  height: 35px;
  width: 80px;
  background-color: #f24e1e;
  padding: 0px 15px;
  border-radius: 10px;
}

.UserItem_img-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.UserItem_img-container img {
  width: 100%;
  height: 100%;
}
