.Account_container::before {
  display: block;
  content: "";
  height: 71px;
}

.Account_container {
  width: 80%;
  margin: auto;
}

.Account_container-bar {
  height: 80px;
  border-radius: 20px 20px 0px 0px;
  background: #4c6ef8;
}

.Account_container-content {
  min-height: 60vh;
  border-radius: 0px 0px 20px 20px;
  background: #fff;
  position: relative;
  padding: 40px 20px 20px;
}

.Account_change-password {
  padding-top: 70px;
}

.Account_avatar {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 40px;
  top: -50px;
  z-index: 2;
}

.Account_avatar-image {
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}

.Account_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.Account_change-password-button {
  background-color: #4C6EF8;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
}

.Account_save-button {
  margin-right: 10px;
  border-radius: 10px;
  background-color: #01AC66;
  border: none;
  width: 80px;
}

.Account_cancel-button {
  margin-right: 5px;
  border-radius: 10px;
  background: #E74A3B;
  border: none;
  width: 80px;
}

.Account_cancel-button:hover {
  background-color: #af392e;
}
