.CreateProduct_alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Make sure it appears on top of other elements */
  }
  
  .CreateProduct_alert {
    position: relative;
    width: 400px;
    height: auto;
    z-index: 1000; /* Ensure the alert is above the overlay */
  }