.Worksheet_container {
  width: 90%;
  margin: auto;
  border: none;
  height: fit-content;
}
.Worksheet_container::before {
  display: block;
  content: "";
  height: 71px;
}

.WorkSheet_table table {
  border-collapse: separate;
  border-spacing: 0;
  color: white;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: normal;
}

th:first-child {
  border-top-left-radius: 10px;
  padding-left: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  padding-right: 10px;
}

td:first-child {
  padding-left: 10px;
}

td:last-child {
  padding-right: 10px;
}

table,
th,
td {
  border: 2px solid #efefef;
  border-collapse: collapse;
}

table {
  border: none;
}

.Worksheet_container-content {
  background-color: white;
  border-radius: 10px;
}
