.FilterBar_search-container {
  position: relative;
  width: 40%;
  min-width: 400px;
  height: 40px;
  display: inline-block;
  margin-right: 30px;
}

.FilterBar_search-box {
  width: 100%;
  height: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 10px;

  background-color: #efefef;
}

.FilterBar_search-container input:focus,
.FilterBar_search-box:hover {
  border: solid 2px #4c6ef8;
}

.FilterBar_search-button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  transform: translate(0%, -50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.FilterBar_filter_container {
  height: 40px;
  z-index: 10;
}

.FilterBar_filter-button {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  height: 100%;
  width: 90px;
  background-color: white;
}

.FilterBar_filter-button:hover {
  background-color: #ececec;
}
