.Header_bg-custom {
  /* background-color: #4C6EF8; */
  background-color: #4c6ef8;
  font-size: 16px;
}

.Header_brand {
  font-size: 30px;
}

.Header_active {
  font-size: 20px;
  color: white;
}

.Header_normal {
  color: white;
}

.Header_container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Header_dropdown {
    width: 280px;
    height: auto;
    padding: 10px;
}

.Header_link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header_link:hover {
    color: #4c6ef8;
}

.Header_dropdown-item {
    border-radius: 5px;
    padding: 10px;
}

.Header_dropdown-item:hover {
    background-color: #F1F1F1;
}

.Header_icon {
    display: block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.Header_button {
  border: none;
  background: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  
}
