.ProductDetail_container::before {
  display: block;
  content: "";
  height: 71px;
}

.ProductDetail_container {
  width: 80%;
  margin: auto; 
  min-height: 90vh;
}

.ProductDetail_content {
  background-color: white;
  border-radius: 15px;
  border: 1px solid #C6C6C6;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
}

.ProductDetail_img{
  border-radius: 10px;
  display: block;
  max-width: 100%;
  width: auto;
  height: 200px;
  box-sizing: border-box;
}

.ProductDetail_button {
  background-color: #4C6EF8;
  border: none;
}

.ProductDetail_button-content{
  padding: 0px 4px;
  font-size: 16px;
}

.ProductDetail_icon {
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}