.SelectionBox_container{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 40px;
}

.SelectionBox_container select:hover {
    background-color: #F1F1F1;
    color: #4C6EF8;

}

.SelectionBox_container select {
    width: 100%;
    border: none;
    height: 100%;
    display: block;
    border-radius: 5px;
    padding-right: 10px;
}