.MenuFilter_container {
  background-color: white;
  border-radius: 15px;
  min-height: 100vh;
  border: 1px solid #C6C6C6;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.25);
}

.MenuFilter_search-container {
  position: relative;
  width: 40%;
  min-width: 400px;
  height: 40px;
  display: inline-block;
  margin-right: 30px;
}

.MenuFilter_search-box {
  width: 100%;
  height: 100%;
  border: 1px solid #c6c6c6;
  border-radius: 10px;

  background-color: #efefef;
}

.MenuFilter_search-container input:focus,
.MenuFilter_search-box:hover {
  border: solid 2px #4c6ef8;
}

.MenuFilter_search-button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  transform: translate(0%, -50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.MennuFilter_filter_container {
  height: 40px;
}

.MennuFilter_filter-button {
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  height: 100%;
  width: 90px;
  background-color: white;
}

.MennuFilter_filter-button:hover {
  background-color: #ececec;
}
