.ProductItem_card {
  height: 250px;
  width: auto;
}

.ProductItem_body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  text-align: center;
}

.ProductItem_body p {
  font-size: 16px;
}

.ProductItem_img {
  width: auto;
  height: 150px;
  cursor: pointer;
}

.ProductItem_border {
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
